---
'@scalar/pre-post-request-scripts': patch
---

feat(pre-post-request-scripts): export TestResult type for API client contract test runners
